@import "../../style/variables.scss";

.app__header .app__menu,
.coffee__header .app__menu {
  color: $white;
}

.app__footer .app__menu {
  color: $black;
}

.wrapper {
  display: flex;
  padding-left: 160px;
  padding-top: 30px;
}

.app__menu {
  ul {
    width: 325px;
    height: 40px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: end;
    font-weight: 100;
    font-size: 12px;   
    line-height: 17px;
  }
}

.logoCoffee {
  width: 35px;
  height: 35px;
}
