@import "../../style/variables.scss";

.app {
  &__header {
    background-image: url("../../resources/img/Main\ bg.jpg");
    background-size: cover;
    background-position: center;
    height: 640px;

    p {
      
      cursor: default;
      
      color: $white;
      font-weight: bold;
      font-size: 24px;
      
    }

    h1 {
      cursor: default;
      font-size: 40px;
      font-weight: 700;
      line-height: -1px;
			color: white;
    }
  }

  &__wrapper-logo {
    
    margin-top: 20px;
  }

  &__title {
    display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
    margin-top: 110px;
    font-weight: bold;
    font-size: 40px;
    color: $white;

		&__text2 {
			margin-top: 20px;
		}
    

    &-button {
      width: 120px;
      height: 30px;
			margin-top: 18px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 3px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: rgba(196, 196, 196, 0);
      color: $white;      
      cursor: pointer;
    }
  }
}
