.app__footer {
    display: flex;   
    align-items: center;
    flex-direction: column;
    height: 150px;
    margin-right: 160px;
    
    
}

.app__footer .app__wrapper-black {
    margin-top: 50px;
    margin-left: 180px;
}